.Post-page{
display: flex;
justify-content: center;
margin-top: 8px;
}

.All-posts{
  display: flex;
  flex-direction: column;
  gap:30px;
  justify-content: center;
}


#profile-pic{
  height:40px;
  width:40px;
  gap:10px;
  margin-top: -5px;
}
.profile{
  display: flex;
  flex-direction:row;
  gap:5px;

}

#post-img{
    width:300px;
   
}

.post-imgs{
    margin-top: 10px;
}

.lcs-icons{
display: flex;
flex-direction:row;
gap:17px;
font-size: 27px;
}