*{
 
}

.instagram-text {
  width: 120px;
}

.sidebar{
    margin:30px;
}
.sidebar-list {
  position:fixed;
  display: flex;
  flex-direction: column;
  gap: 28px;
  color: #000;
  font-size: 17px;
  font-weight: bold;
  
  
}
.all-icons-link{
  text-decoration: none;
  color:#000;
}
.other-navigate{
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: #000;
    font-size: 17px;
    font-weight: bold;
    position:fixed ;
    bottom:0;

}

.sidebar-icons{
    font-size: 27px;
    margin-right: 10px;
}