.rounded-circle{
    height:30px;
}

.suggestion{
    margin:25px;
    width:66%;
}


.suggestion h5{
    font-size: 18px;
    margin-top: 5px !important;
    
}

.profile{
 display: flex;
 flex-direction:row;
 gap:10px;
 
}

.suggestions{
   margin-bottom:15px;
   /* margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    
}
.suggestion-list{
    display: flex;
    flex-direction:row;
    gap: 10px;
}